#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

#overlay.active {
    display: block;
}

*:disabled {
    background: #aaa;
    cursor: not-allowed;
}

.form-control:focus, *:focus {
    border-color: #6db3fd;
    border-width: 2px;
    box-shadow: none;
}

.rating {
    left: 60%;
    top: 30px;
    position: absolute;
}

.ranking {
    font-weight: bold;
}

.ranking-col {
    left:33%;
    position: absolute;
    top: 30px;
}

tr th {
    text-align: center;
}

#formAddUser {
    display: inline-block;
}

#paneRegister {
    padding: 5px;
}

.column-third {
    width: 33.33%;
    float: left;
    padding: 5px
}

label {
    white-space: normal;
}

textarea {
    resize: none;
}

#paneRegister p {
    margin: 0;
}

#paneRegister3 {
    height: 100%;
    overflow-y: scroll
}

#paneHome .toolbar-actions select {
    width: 80px;
    -webkit-app-region: no-drag;
}

.list-group-item {
    position: relative;
    transition: background-color 2s ease-in-out;
}

.tooltip {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    padding: 0px 7px;
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: white;
    transition: opacity 0.4s ease-in-out;
}

.tooltip-on {
    opacity: 1;
}

.green-flash {
    background-color: #34c84a;
    transition: none;
}

.refreshed {
    margin-right: 10px;
    margin-top: 3px;
}

.toolbar-actions {
    -webkit-app-region: no-drag;
}

.loading {
    background: linear-gradient(270deg, #ffffff, #c7c7c7, #ffffff);
    background-size: 600% 600%;
    animation: LoadingBackground 3s ease infinite;
}

@keyframes LoadingBackground { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}