#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

#overlay.active {
    display: block;
}

*:disabled {
    background: #aaa;
    cursor: not-allowed;
}

.form-control:focus, *:focus {
    border-color: #6db3fd;
    border-width: 2px;
    box-shadow: none;
}

.rating {
    left: 80%;
    top: 30px;
    position: absolute;
}

.ranking {
    font-weight: bold;
}

.ranking-col {
    left:45%;
    position: absolute;
    top: 30px;
}

tr th {
    text-align: center;
}

#formAddUser {
    display: inline-block;
}

#paneRegister {
    padding: 5px;
}

.column-third {
    width: 33.33%;
    float: left;
    padding: 5px
}

label {
    white-space: normal;
}

textarea {
    resize: none;
}

#paneRegister p {
    margin: 0;
}

#paneRegister3 {
    height: 100%;
    overflow-y: scroll
}

#paneHome .toolbar-actions select {
    width: 80px;
    -webkit-app-region: no-drag;
}

.list-group-item {
    position: relative;
}
